{% extends 'layout/base.html' %}{% block content %}
<div class="container">
  <div class="row col-12">
    <div class="card col-6 offset-2">
      <form action="{% url 'cosmic_event_app:create' %}" method="POST">
        <label for="name" class="form-label">Name</label>
        <input type="text class" class="form-control" name="name" id="name" />
        <label for="mass" class="form-label">Enter the Mass using (g)</label>
        <input type="number" class="form-control" name="mass" id="mass" />
        <!-- <br> -->
        <label for="date" class="form-label">date</label>
        <input type="date" class="form-control" name="date" id="date" />

        <input
          type="checkbox"
          class="form-check-input"
          name="found"
          id="found"
          value="True"
        />
        <label for="found" class="form-label">Found</label>
        <br />
        <br />
        <label for="latitude" class="form-label">Latitude</label>
        <input
          type="number"
          class="form-control"
          name="latitude"
          id="latitude"
        />
        <label
          for="longitude"
          class="form-label"
          name="longitude"
          id="longitude"
          >Longitude</label
        >
        <input
          type="number"
          class="form-control"
          name="longitude"
          id="longitude"
        />
        {%csrf_token%}
        <input type="submit" class="btn btn-secondary" value="Submit" />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
