{% extends 'layout/base.html' %}{% block content %}
<div class="container">
  <div class="d-flex row col-12">
    <div class="card align-content-center">
      <form action="{% url 'cosmic_event_app:create' %}" method="POST">
        <label for="name" class="form-label">Name</label>
        <input type="text class" class="form-control" name="name" id="name" />
        <label for="mass" class="form-label"
          >Mass
          <small
            class="form-text text-muted"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Units are in grams"
            >*</small
          ></label
        >
        <input type="number" class="form-control" name="mass" id="mass" />
        <!-- <br> -->
        <label for="date" class="form-label"
          >Date
          <small
            class="form-text text-muted"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="When was the meteorite seen?"
            >*</small
          >
        </label>
        <input type="date" class="form-control" name="date" id="date" />
        <br />
        <input
          type="checkbox"
          class="form-check-input"
          name="found"
          id="found"
          value="True"
        />
        <label for="found" class="form-label"
          >Found
          <small
            class="form-text text-muted"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Did it land?"
            >*</small
          ></label
        >
        <br />
        <br>

        <label for="latitude" class="form-label"
          >Latitude
          <small
            class="form-text text-muted"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Maximum of 6 decimal places"
            >*</small
          >
        </label>

        <input
          type="number"
          class="form-control"
          name="latitude"
          id="latitude"
          step="0.000001"
        />
        <label
          for="longitude"
          class="form-label"
          name="longitude"
          id="longitude"
          >Longitude
          <small
            class="form-text text-muted"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Maximum of 6 decimal places"
            >*</small
          >
        </label>

        <input
          type="number"
          class="form-control"
          name="longitude"
          id="longitude"
          step="0.000001"
        />
        {%csrf_token%}
        <input type="submit" class="btn btn-secondary" value="Submit" />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
