{% extends 'layout/base.html' %} {% load static %} {% block content %}
<div id="map">
  <script>
    var meteor = "{% static 'images/meteor_PNG5.png' %}";
  </script>
  <script src="{% static 'js/leaflet.js' %}"></script>
  <script src="{% static 'js/map_data_load.js' %}"></script>
  {% csrf_token %}
</div>
<template id="popup-content">
  <div class="data">
    <div class="popup-name"></div>
    <div class="popup-mass"></div>
    <div class="popup-found"></div>
    <div class="popup-date"></div>
    <div class="popup-latitude"></div>
    <div class="popup-longitude"></div>
  </div>
</template>
{% endblock content %}